.category_label{
    background-color: $gray;
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 15px;
    color: $primary;
}

.container_vacancy{
    background-color: $primary;
    height: 100%;
    padding: 20px 30px;
    border-radius: 5px;
}
